body{
    margin: 0;
    font-family: sans-serif;
}
header {
    position: absolute;
    width: 1920px;
    height: 99px;
    right: 0px;
    left: 0px;
    top: 0px;

    background: #004628;
    #symbol{
        position: absolute;
        width: 6px;
        /*height: 64px;*/
        left: 19px;
        top: 17px;

        /*background: url(symbol-mark.png);*/
        mix-blend-mode: normal;
    }

    #header{
        position: absolute;
        width: 354px;
        height: 48px;
        left: 99px;
        top: 25px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;

        color: #FFFFFF;
    }
}

main {

    background: #ffffff;
    margin: auto;
    width: 576px;
    max-height: 700px;
    /* display: flex; */
    align-items: center; /* 하위 요소들 수직 가운데정렬 */
    /* position: relative; */

    #EngPic {
        position: absolute;
        width: 856px;
        height: 477px;
        left: 0px;
        top: 99px;

        /*background: url(image.png);*/
    }

    #EngTitleImg {
        position: absolute;
        width: 63px;
        height: 81px;
        left: 912px;
        top: 139px;
    }

    #EngTitleText {
        position: absolute;
        width: 295px;
        height: 77px;
        left: 993px;
        top: 143px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;

        color: #000000;
    }

    #EngSubtitle {
        position: absolute;
        width: 469px;
        height: 39px;
        left: 1000px; /*912*/
        top: 232px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
    }

    #EngFac_Box {
        position: absolute;
        width: 721px;
        height: 230px;
        left: 912px;
        top: 307px;

        background: rgba(175, 203, 193, 0.78);
        border-radius: 50px;

    }

    #EngFac_BusImg {
        position: absolute;
        width: 51px;
        height: 65px;
        left: 960px;
        top: 318px;
    }

    #EngFac_BusTxt {
        position: absolute;
        width: 300px; /*254*/
        height: 39px;
        left: 1034px;
        top: 331px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
    }

    #EngFac_StoImg {
        position: absolute;
        width: 42px;
        height: 55px;
        left: 964px;
        top: 396px;

    }

    #EngFac_StoTxt {
        position: absolute;
        width: 330px; /*283*/
        height: 39px;
        left: 1034px;
        top: 406px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
    }

    #EngFac_MajImg {
        position: absolute;
        width: 45px;
        height: 57px;
        left: 961px;
        top: 464px;
    }

    #EngFac_MajTxt {
        position: absolute;
        width: 570px; /*520*/
        height: 39px;
        left: 1034px;
        top: 473px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        /* identical to box height */

        color: #000000;
    }

    #EngShortcutListTxt1 {
        position: absolute;
        width: 651px;
        height: 120px; /*168*/
        left: 70px;
        top: 621px;

        /*font-family: 'Inter';*/
        font-style: normal;
        font-weight: 500;
        font-size: 35px; /*40*/
        line-height: 48px;

        color: #000000;
    }

    #EngShortcutListTxt2 {
        position: absolute;
        width: 651px;
        height: 120px; /*168*/
        left: 70px; /*48*/
        top: 713px;

        /*font-family: 'Inter';*/
        font-style: normal;
        font-weight: 500;
        font-size: 35px; /*40*/
        line-height: 48px;

        color: #000000;
    }

    #EngShortcutList_Box1 {
        position: absolute;
        width: 688px;
        height: 66px;
        left: 51px;
        top: 613px;

        background: #F1F48E;
        mix-blend-mode: normal;
        border-radius: 20px;
    }

    #EngShortcutList_Box2 {
        position: absolute;
        width: 688px;
        height: 66px;
        left: 51px;
        top: 705px;

        background: #F1F48E;
        mix-blend-mode: normal;
        border-radius: 20px;
    }

    #EngToDet_Box {
        box-sizing: border-box;

        position: absolute;
        width: 1785px;
        height: 114px;
        left: 66px;
        top: 866px;

        background: rgba(255, 255, 255, 0.78);
        border: 4px solid rgba(175, 203, 193, 0.78);
        border-radius: 30px;
    }

    #EngToDetTxt1 {
        position: absolute;
        width: 702px;
        height: 67px;
        left: 100px;
        top: 889px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 67px;
    }

    /*page2*/
    #map_Box {
        /* Rectangle 7 */

        position: absolute;
        width: 1102px;
        height: 622px;
        left: 67px;
        top: 1077px;/*287*/

        background: #D9D9D9;

    }

    #roadImg1 {

        /* distance */

        position: absolute;
        width: 44px;
        height: 42px;
        left: 1454px;
        top: 1099px;/*309*/

/*        !* Bounding box *!

        position: absolute;
        width: 44px;
        height: 42px;
        left: 1454px;
        top: 309px;

        background: #D9D9D9;


        !* distance *!

        position: absolute;
        left: 76.3%;
        right: 22.55%;
        top: 28.94%;
        bottom: 67.82%;

        background: #1C1B1F;*/

    }
    #roadBox1 {
        /* Rectangle 11 */

        position: absolute;
        width: 620px;
        height: 86px;
        left: 1232px;
        top: 1077px;/*287*/

        background: rgba(175, 203, 193, 0.78);
        border-radius: 30px;

    }
    #roadTxt1{
        /* 포스코관 4F */

        position: absolute;
        width: 104px;
        height: 24px;
        left: 1566px;
        top: 1113px;/*323*/

        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #000000;
    }

    #roadImg2-1 {
        /* stairs */

        position: absolute;
        width: 35px;
        height: 39px;
        left: 1441px;
        top: 1243px;/*453*/
        /*


                !* Bounding box *!

                position: absolute;
                width: 35px;
                height: 39px;
                left: 1441px;
                top: 453px;

                background: #D9D9D9;


                !* stairs *!

                position: absolute;
                left: 75.28%;
                right: 23.35%;
                top: 42.4%;
                bottom: 54.9%;

                background: #1C1B1F;*/
    }
    #roadImg2-2 {
        /* elevator */

        position: absolute;
        width: 37.05px;
        height: 39px;
        left: 1476px;
        top: 1243px;/*453*/
        /*



        !* Bounding box *!

        position: absolute;
        width: 37.05px;
        height: 39px;
        left: 1476px;
        top: 453px;

        background: #D9D9D9;


        !* elevator *!

        position: absolute;
        left: 77.12%;
        right: 21.44%;
        top: 42.4%;
        bottom: 54.9%;

        background: #1C1B1F;
        */


    }
    #roadBox2 {
        /* Rectangle 10 */

        position: absolute;
        width: 620px;
        height: 86px;
        left: 1232px;
        top: 1215px;/*425*/

        background: rgba(175, 203, 193, 0.78);
        border-radius: 30px;

    }
    #roadTxt2{
        /* 포스코관 4F */

        position: absolute;
        width: 104px;
        height: 24px;
        left: 1566px;
        top: 1251px;/*461*/

        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #000000;


    }

    #roadImg3 {/* 다시다시다ㅣ사디 */
        /* directions_walk */
        position: absolute;
        width: 37.05px;
        height: 39px;
        left: 1476px;
        top: 1381px;/*453*/

/*        position: absolute;
        left: 76.2%;
        right: 22.14%;
        top: 54.07%;
        bottom: 42.04%;*/

    }
    #roadBox3 {
        /* Rectangle 12 */

        position: absolute;
        width: 620px;
        height: 86px;
        left: 1232px;
        top: 1353px;/*563*/

        background: rgba(175, 203, 193, 0.78);
        border-radius: 30px;

    }
    #roadTxt3{
        /* 포스코관 쪽문 - 종합과학관 D동 B1F */

        position: absolute;
        width: 290px;
        height: 48px;
        left: 1542px;
        top: 1373px;/*583*/

        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;

        color: #000000;


    }

    #roadImg4-1 {
        /* stairs */

        position: absolute;
        width: 35px;
        height: 39px;
        left: 1441px;
        top: 1519px;/*729*/
/*


        !* Bounding box *!

        position: absolute;
        width: 35px;
        height: 39px;
        left: 1441px;
        top: 729px;

        background: #D9D9D9;


        !* stairs *!

        position: absolute;
        left: 75.28%;
        right: 23.35%;
        top: 67.95%;
        bottom: 29.34%;

        background: #1C1B1F;*/

    }
    #roadImg4-2 {
        /* elevator */

        position: absolute;
        width: 37.05px;
        height: 39px;
        left: 1476px;
        top: 1519px;/*729*/
/*


        !* Bounding box *!

        position: absolute;
        width: 37.05px;
        height: 39px;
        left: 1476px;
        top: 729px;

        background: #D9D9D9;


        !* elevator *!

        position: absolute;
        left: 77.12%;
        right: 21.44%;
        top: 67.95%;
        bottom: 29.34%;

        background: #1C1B1F;*/

    }
    #roadBox4 {
        /* Rectangle 13 */

        position: absolute;
        width: 620px;
        height: 86px;
        left: 1232px;
        top: 1491px;/*701*/

        background: rgba(175, 203, 193, 0.78);
        border-radius: 30px;

    }
    #roadTxt4{
        /* 종합과학관 D동 4F */

        position: absolute;
        width: 111px;
        height: 52px;
        left: 1562px;
        top: 1551px;/*716*/

        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #000000;


    }

    #roadImg5 {
        /* directions_walk */

        position: absolute;
        left: 76.2%;
        right: 22.14%;
        top: 79.63%;
        bottom: 16.48%;

    }
    #roadBox5 {
        /* Rectangle 14 */

        position: absolute;
        width: 620px;
        height: 86px;
        left: 1232px;
        top: 1629px;/*839*/

        background: rgba(175, 203, 193, 0.78);
        border-radius: 30px;

    }
    #roadTxt5{
        /* 종합과학관 쪽문 - 공대삼거리(좌회전) */

        position: absolute;
        width: 256px;
        height: 49px;
        left: 1546px;
        top: 1643px;/*853*/

        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        color: #000000;



    }
    #arrow1{
        /* Polygon 1 */

        position: absolute;
        width: 48px;
        height: 30px;
        left: 1570px;
        top: 1200px;/*410*/

/*        transform: rotate(-180deg);*/

    }
    #arrow2{
        /* Polygon 2 */

        position: absolute;
        width: 48px;
        height: 30px;
        left: 1570px;
        top: 1338px;/*548*/

  /*      transform: rotate(-180deg);*/

    }
    #arrow3{
        /* Polygon 3 */

        position: absolute;
        width: 48px;
        height: 30px;
        left: 1570px;
        top: 1476px;/*686*/
/*
        transform: rotate(-180deg);*/

    }
    #arrow4{
        /* Polygon 4 */

        position: absolute;
        width: 48px;
        height: 30px;
        left: 1570px;
        top: 1614px;/*824*/

/*        transform: rotate(-180deg);*/

    }

}



/*.visually-hidden { !* legend 안보이게 설정. 이렇게하면 접근성을 준수하면서 디자인을 해치지 않습니다. *!
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    }*/


